.Rproj.user
.Rhistory
.RData
.Ruserdata
data/con_mat/con_mat_*
data/summaries/summary_*
data/temperature/98_gb_his_0001.nc
.httr-oauth
.RDataTmp
data/*
figures/HMSC/*
figures/OBIS/*
obis_BC_eez.csv
GADM_2.8_CAN_adm0.rds
GADM_2.8_USA_adm0.rds
